mmpk/*.mmpk
Dataset/*
excel/~$*.xlsx
# Ignorar todo dentro de data
outputs/*
ejecucion_programada/outputs/*
ejecucion_programada/Logs/*
Bkg_rasterio_normalizacion/*
# Pero permitir archivos CSV directos dentro de data
!outputs/*.csv
*.pyc
*.pyc.*


